body {
  margin: 0;
  font-family: 'Avenir Next', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #423f3f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  max-width: 1400px !important;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color .15s, background-color .15s;
  -ms-transition: color .15s, background-color .15s;
  -moz-transition: color .15s, background-color .15s;
  -o-transition: color .15s, background-color .15s;
  transition: color .15s, background-color .15s;
}